<h1>Hello to SeeNWin application</h1>
<p>
	This system is implementation of a Lottery game for real products in exchange for watching advertisements.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<p> </p>
<%= link_to "Try your Luck", '#', :class => "try_button round" %>