<h1>Adverts#choose</h1>
<p>Find me in app/views/adverts/choose.html.erb</p>
<% choose_btn = image_tag("choose2.png", :alt => "Choose", :class => "in_center  round") %>
<%= link_to choose_btn, play_path %>