<h1>Adverts#play</h1>
<p>Find me in app/views/adverts/play.html.erb</p>
<% view_btn = image_tag("view1.png", :alt => "View", :class => "in_center  round") %>
<%= link_to view_btn, win_path %>
<p><%= link_to "Oops, I Win!", win_path, :class => "adverts_btn round" %></p>

